/* hero banner */

.first_slide {
    height: 100%;
    background-image: url('../images/home_banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.first_slide_content {
    padding: 180px 20px;
}

.second_slide {
    height: 100%;
    background-image: url('../images/home_banner2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second_slide_content {
    padding: 143px 20px;
}

.third_slide {
    height: 100%;
    background-image: url('../images/health.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.third_slide_content {
    padding: 143px 20px;
}

.third_slideInfo h1 {
    /* font-size: 2rem; */
    width: fit-content;
}

.hero h1 {
    font-size: 4em;
}

.hero h1 span {
    color: var(--light-green);
}

.hero p span {
    color: var(--light-green);
    font-weight: bold;
}


/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
} */

@media (max-width:375px) {
    .hero h1 {
        font-size: 2em;
    }
    .second_slide_content {
        padding: 119px 20px;
    }
}

@media (max-width:425px) {
    .hero h1 {
        font-size: 2em;
    }
}


/* our mission */

.ourmission h2 {
    font-family: 'josefin-regular';
}


/* smile section */

.smile h1 {
    color: var(--light-green);
    font-family: 'josefin-regular';
}


/* .smile h1::after {
    content: '';
    position: relative;
    left: 0;
    width: 100px;
    height: 20px;
    background-color: var(--light-green);
} */

.smile p:last-child() {
    color: var(--light-green);
}

.smile a:hover {
    background-color: var(--dark-green);
}


/* rating */

.rating img {
    object-fit: contain;
    width: 50px;
}


/* passion */

.passion a:hover {
    background-color: var(--dark-green) !important;
}


/* refferal */

.referral h1 {
    color: var(--light-green);
}

.referral img {
    object-fit: contain;
    max-height: 500px;
}


/* Media Queries */

@media (max-width:375px) {}

@media (max-width:425px) {}

@media (max-width:768px) {}