:root {
    --light-green: #ADCE60;
    --green: #698760;
    --dark-green: #2F4649;
    --black: #3C4F54;
    --grey: #F7F7F7;
    --dark-grey: #8D989A;
}

@font-face {
    font-family: 'josefin-bold';
    src: url('../fonts/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: 'josefin-light';
    src: url('../fonts/JosefinSans-Light.ttf');
}

@font-face {
    font-family: 'josefin-regular';
    src: url('../fonts/JosefinSans-Regular.ttf');
}

a {
    font-family: 'josefin-bold';
    font-size: 15px;
}

nav .active a {
    color: var(--light-green) !important;
}

a:hover {
    color: var(--light-green) !important;
}

.btn-green {
    background-color: var(--light-green);
    color: white !important;
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 15px;
    padding: 15px 20px !important;
    font-family: 'josefin-bold';
    border-radius: 99px;
}

.btn-green:hover {
    background-color: var(--green);
    color: white !important;
}


/* .btn-green-hover:hover {
    background: linear-gradient(to right, #3c4f54 50%, #adce60 50%) no-repeat scroll right bottom / 210% 100% #adce60 !important;
} */

.btn-box {
    border-radius: unset !important;
    /* padding: unset !important; */
}

.bg-grey {
    background-color: var(--grey);
}

.bg-green {
    background-color: var(--light-green);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.josefin-regular {
    font-family: 'josefin-regular';
}

.josefin-bold {
    font-family: 'josefin-bold';
}

.text-green {
    color: var(--light-green);
}

.text-dark-green {
    color: var(--dark-green);
}

.green-bar:after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color: var(--light-green);
}